java/.classpath
java/.project
java/.tern-project
java/.settings/.jsdtscope
java/.settings/org.eclipse.core.resources.prefs
java/.settings/org.eclipse.jdt.core.prefs
java/.settings/org.eclipse.m2e.core.prefs
java/.settings/org.eclipse.wst.common.component
java/.settings/org.eclipse.wst.common.project.facet.core.xml
java/.settings/org.eclipse.wst.jsdt.ui.superType.container
java/.settings/org.eclipse.wst.jsdt.ui.superType.name
java/.settings/org.eclipse.wst.validation.prefs
java/target/resumable.js.war
java/target/classes/resumable/js/upload/HttpUtils.class
java/target/classes/resumable/js/upload/ResumableInfo$ResumableChunkNumber.class
java/target/classes/resumable/js/upload/ResumableInfo.class
java/target/classes/resumable/js/upload/ResumableInfoStorage.class
java/target/classes/resumable/js/upload/UploadServlet.class
java/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
java/target/m2e-wtp/web-resources/META-INF/maven/resumable.js/java-example/pom.properties
java/target/m2e-wtp/web-resources/META-INF/maven/resumable.js/java-example/pom.xml
java/target/maven-archiver/pom.properties
java/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
java/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
java/target/resumable.js/index.html
java/target/resumable.js/pause.png
java/target/resumable.js/resumable.js
java/target/resumable.js/resume.png
java/target/resumable.js/style.css
java/target/resumable.js/WEB-INF/web.xml
java/target/resumable.js/WEB-INF/classes/resumable/js/upload/HttpUtils.class
java/target/resumable.js/WEB-INF/classes/resumable/js/upload/ResumableInfo$ResumableChunkNumber.class
java/target/resumable.js/WEB-INF/classes/resumable/js/upload/ResumableInfo.class
java/target/resumable.js/WEB-INF/classes/resumable/js/upload/ResumableInfoStorage.class
java/target/resumable.js/WEB-INF/classes/resumable/js/upload/UploadServlet.class
java/target/resumable.js/WEB-INF/lib/servlet-api-2.5.jar
